.Mainscreen {
    display: flex;
    justify-content: flex-start;
    box-sizing: border-box;
    background-color: #292929;
}

/* Left panel on MainScreen (Главный экран)  */

.main_screen_panel {
   width: 167px;
   height: 390px;
   background-color: #2E2E2E;
   display: flex;
   align-items: center;
   justify-content: space-between;
   flex-direction: column;
}

.main_screen_panel_heading {
    color: #CAC4D0;
   margin-bottom: 100px;
}

.main_screen_panel_button {
    width: 108px;
    height: 27px;
    font-size: 12px;
    border-radius: 6px;
    margin: 20px 0 10px 0;
    color: #CAC4D0;
    background-color: #635F6C;
    filter: drop-shadow(0 0 0.20rem rgb(24, 23, 23));
}

.left_panel_import_projects {
    display: flex;
    flex-direction: column;
    gap: 23px;
}

/* Мои проекты: MainScreen (Главный экран)  */

.Main_projects {
    display: flex;
    margin: 25px;
    gap: 34px;
}
.add_new_project_node {
    width: 133px;
    height: 133px;
    border-radius: 12px;
    background-color: #B9AFD0;
    box-shadow: inset 0 0 10px grey;
      
    opacity: 0.33;
    display: flex;
    justify-content: center;
    align-items: center;
}

.for_telegram_node {
    width: 133px;
    height: 133px;
    border-radius: 12px;
    background-color: #4A4458;
    box-shadow: inset 0 0 10px rgb(61, 60, 60);
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    justify-content: space-between;
    padding: 5px;
}

.for_telegram_text {
    font-size: 12px;
    display: flex;
    gap: 5px;
    color: #CAC4D0;
    
}

.for_vk_node {
    width: 133px;
    height: 133px;
    border-radius: 12px;
    background-color: #4A4458;
    box-shadow: inset 0 0 10px rgb(61, 60, 60);
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    justify-content: space-between;
    padding: 5px;
}

.for_vk_text {
    font-size: 12px;
    display: flex;
    gap: 40px;
    color: #CAC4D0;
}

.replace_img_node {
    width: 133px;
    height: 133px;
    border-radius: 12px;
    background-color: #4A4458;
    box-shadow: inset 0 0 10px rgb(61, 60, 60);
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    justify-content: space-between;
    padding: 5px;
}

.replace_img_text {
    font-size: 12px;
    display: flex;
    padding-left: 7px;
    color: #CAC4D0;
}



/* Мои шаблоны: MainScreen (Главный экран)  */

.Main_schemes {
    display: flex;
    margin: 25px;
    gap: 34px;
}

.add_new_scheme_node{
    width: 133px;
    height: 133px;
    border-radius: 12px;
    background-color: #D7ADAD;
    box-shadow: inset 0 0 10px grey;
      
    opacity: 0.33;
    display: flex;
    justify-content: center;
    align-items: center;
}

.all_zero_node{
    width: 133px;
    height: 133px;
    border-radius: 12px;
    background-color: #584444;
    box-shadow: inset 0 0 10px rgb(61, 60, 60);
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    justify-content: space-between;
    padding: 5px;
}

.all_zero_text {
    font-size: 12px;
    display: flex;
    gap: 35px;
    color: #CAC4D0;
}

.all_hundred_node{
    width: 133px;
    height: 133px;
    border-radius: 12px;
    background-color: #584444;
    box-shadow: inset 0 0 10px rgb(61, 60, 60);
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    justify-content: space-between;
    padding: 5px;
}

.all_hundred_text {
    font-size: 12px;
    display: flex;
    gap: 20px;
    color: #CAC4D0;
}

.all_other_node{
    width: 133px;
    height: 133px;
    border-radius: 12px;
    background-color: #584444;
    box-shadow: inset 0 0 10px rgb(61, 60, 60);
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    justify-content: space-between;
    padding: 5px;
}

.all_other_text {
    font-size: 12px;
    display: flex;
    gap: 35px;
    color: #CAC4D0;
}

