.left_panel {
    box-sizing: border-box;
    width: 119px;
    height: 390px;
    overflow-x: hidden;
    overflow-y: scroll;

    background-color: #2e2e2e;
}

.left_panel_top_container {
  display: flex;
  align-items: flex-start;
  flex-direction: column;
  margin-left: -10px;
}

.left_panel_bottom_container {
display: flex;
align-items: center;
justify-content: center;
flex-direction: column;
padding-top: 10px;
gap: 10px;
}

.left_panel_line_container {
 padding: 10px;
}


